@tailwind base;
@tailwind components;
@tailwind utilities;

/* Revert Tailwind css reset css */
.no-tailwind * {
    all: revert;
}

._contentEditable_13kqw_352 * {
    all: revert;
}

.aspect-square{
    aspect-ratio: unset;
}